# Files Here are ignored by git
/.idea/*
/Optical_Pulse Evolution/OpenCL/Data_Files/*
/Optical_Pulse Evolution/OpenCL/Images/*
/Optical_Pulse Evolution/Pure_Python/Data_Files/*
/Optical_Pulse Evolution/Pure_Python/Images/*